<ion-header>
<ion-toolbar color="mango">
<ion-title>Login</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding='true'>
<h1>Sign In</h1>
<form [formGroup]="form" (submit)="login()">
<ion-list>
<ion-item>
<ion-label position="stacked">Email</ion-label>
<ion-input autocomplete="off" type="text" required formControlName="email"></ion-input>
</ion-item>

<ion-item>
<ion-label position="stacked">Password</ion-label>
<ion-input autocomplete="off" type="password" required formControlName="password"></ion-input>
</ion-item>

</ion-list>
  <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid">Login</ion-button>
  <ion-button
    expand="block"
    color="secondary"
    routerLink="/signup"
    routerDirection="forward"
    >Register</ion-button>
</form>
</ion-content>
